.checkout-page {
  max-width: 1000px;
  margin: 5px auto;
}
.progressive-bar {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
}

.progressive-border {
  width: 100%;
  background-color: #707070;
  border-radius: 5px;
  margin-bottom: 10px;
  display: none;
}
.progressive-fill-20 {
  height: 4px;
  width: 20%;
  background-color: var(--main-color);
}

.form-container {
  display: flex;
  justify-content: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.checkout-form-1 {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  background-color: #c4c4c4;
  border-radius: 5px;
}
input,
label {
  display: block;
}
.form-first-name {
  float: left;
  margin-right: 20px;
}

.form-last-name {
  float: left;
}

.form-column {
  display: inline;
}

.checkout-info {
  display: flex;
  max-width: 410px;
}

/* billing page */

.billing-page {
  max-width: 1000px;
  margin: auto;
}

.progressive-fill-70 {
  height: 4px;
  width: 70%;
  background-color: var(--main-color);
}

/* place order */

.progressive-fill-100 {
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
}
/* order page */

.progressive-fill-order {
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
}

.order-page {
  margin: auto;
  width: 1000px;
}

.flex-container {
  display: flex;
  justify-content: stretch;
}
/* order summary */

.order-summary {
  background-color: #d4d8db;
  border-radius: 5px;
}
.order-summary__header {
  margin-left: 15px;
}

.order-summary__footer {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #707070;
  border-bottom: #707070;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  /* border-top-left-radius: 1px;
  border-top-right-radius: 1px; */
}

.order-summary__item {
  display: grid;
  grid-template-columns: var(--order-summary-img-size) 1fr;
  grid-gap: var(--order-summary-img-margin-right);
  align-items: center;
  gap: 10px;
}

.order-summary__img {
  display: block;
  width: var(--order-summary-img-size);
  height: var(--order-summary-img-size);
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  transition: 0.2s;
}
.order-summary__img img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.order-summary__img:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: var(--shadow-sm);
}

.order-summary-text {
  gap: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order-summary-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0px;
}

.order-summary-total {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
}

.order-summary-total_text {
  justify-content: space-between;
  display: flex;
  font-size: 19px;
}

.total {
  font-weight: 700;
}
