.front-page {
  background-image: url("../img/kal-visuals-4DsO1SyN1n4-unsplash.jpg");
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: cover;
  min-width: 210px;
  position: relative;
  background-position: center;
}

.front-page__content {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 210px;
}

.winter-jacket,
.summer-jacket {
  grid-template-columns: repeat(1, 1fr);
  display: grid;

  grid-template-rows: min-content;
  height: fit-content;
  max-width: 1000px;
  position: relative;
  justify-items: center;
  margin: 5px auto;
}
.summer-jacket > * {
  flex: 1;
}
.product {
  padding: 5px;
}
.product h2 {
  margin: 0;
}
.product p {
  margin: 3px;
}

.product img {
  max-width: 400px;
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 600px;
  overflow: hidden;
}
.card-section {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.card-image {
  background-image: url("../img/jorgen-hendriksen-7gYM6kBxbew-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  height: 300px;
}
.card-image-2 {
  background-image: url("../img/jared-erondu-8bzsuFNkiT8-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  height: 300px;
}

.card-content {
  padding: 20px;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.email-signup {
  padding: 20px;
  height: 100px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-signup form {
  padding-top: 20px;
}
.sign-up-form {
  display: flex;
}
.sign-up-cta {
  height: 40px;
  margin: 0;
}

.show-feedback {
  display: block;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}
.message p {
  text-decoration: underline;
}
.loader-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: none;
}
svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}
circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}
@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
