.front-page {
  background-image: url("../img/front-page.png");
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: cover;
  min-width: 210px;
  position: relative;
}

.front-page__content {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 210px;
}
.front-page__content h1 {
  color: white;
}

.winter-jacket,
.summer-jacket {
  grid-template-columns: repeat(1, 1fr);
  display: grid;

  grid-template-rows: min-content;
  height: fit-content;
  max-width: 1000px;
  position: relative;
  justify-items: center;
  margin: 5px auto;
}
.product {
  padding: 20px;
}
.summer-jacket > * {
  flex: 1;
}

.product img {
  max-width: 400px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.card-image {
  background-image: url("../img/jorgen-hendriksen-7gYM6kBxbew-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.card-content {
  padding: 20px;

  height: 100%;
  display: flex;
  flex-direction: column;
}
