.product-page {
  max-width: 1000px;
  margin: auto;
}

.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  gap: 50px;
}

.product-specific * {
  flex: 1;
}
.producte-image {
  width: 100%;
}

.product-tn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}
.product-details {
  flex: 1;
  background-color: var(--secondary-color);
  padding: 15px;
  margin: auto;

  margin-top: initial;
  border: none;
  border-radius: 25px;
  background: linear-gradient(145deg, #d7d7d7, #ffffff);
  box-shadow: 13px 13px 26px #d2d2d2, -13px -13px 26px #ffffff;
}

.product-buttons {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.product-buttons * {
  flex: 1;
}

.product-description-img {
  max-width: 1000px;
  width: 100%;
}
