

body {
  font-family: 'Roboto', sans-serif;

}

h2 {
  color: #0A3641;
}

.front-page {
  background-image: url("../img/front-page.png");
  background-repeat: no-repeat;
  min-height: 950px;
  background-size: cover;
min-width: none;
position: static;
}

.front-page__content {
  position: relative;
  top: 500px;
right: auto;
  color: white;
}
.front-page__content h1 {
  color: white;
}
.winter-jacket img {
  max-height: 350px;
}

.summer-jacket img {
  max-height: 350px;
}

.logo {
  max-width: 450px;
}
nav li {
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
}
/* footer */
footer {
  background-color: #0A3641;
  display: flex;
  text-align: center;
}

footer > * { 
  flex: 1
  ;
}
footer p {
  color: aliceblue;

}
header > * {
  flex: 1;

  }
  .icon {
    max-width: 250px;
  }


h1 {
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  color: #0A3641;
}
p {
  color: #0A3641;
  font-size: 27px;
}

li {
  color: #0A3641;
  font-size: 27px;
  padding: 10px;
}

nav ul {
  padding: 0%;

}
a {
  text-decoration: none;
}

.product img {
  max-width: 400px;
  

  
}

.winter-jacket {
  display: flex;
  overflow: scroll;
overflow-y: hidden;
  

}

.product {
  flex: 1;
padding: 20px;


}

h1 {
  text-align: center;
}
.winter-jacket p{
  text-align: center;
}

.summer-jacket{
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

.summer-jacket > * {
  flex: 1;

}
